.cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  z-index: 10000;
  flex-wrap: wrap;
}

.card {
  height: auto;
  background: #f8f8f8;
  border-radius: 12px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-align: center;
  padding: 30px;
  margin-bottom: 20px;
  position: relative;
  margin-right: 20px;
}

.card:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.card-audio {
  background: #eafcf8;
}

.card-image {
  width: 20px;
  position: absolute !important;
  bottom: 13px;
  left: 10px;
  opacity: 0.2 !important;
}

.word {
  width: 100%;
}

.theword,
.translation {
  color: #1d1d1d;
  font-size: 16px;
  margin-bottom: 10px;
}
